%form#login_user{action: '/login', method: :post}
  %input{type: 'hidden', name: "_method", value: "put"}
  %label Email:
  %input{type: "text", name: 'user[email]'}
  %br
  %label Password:
  %input{type:"password", name: 'user[password]'}
  %br
  %input{type: "submit", value: "Login"}
  %a{href: '#mockingbird', class: 'cancel'}Cancel