#frame
  #page_title
    %h1 Admin Area
  #main
    %section{id: 'claim_view'}
      %h2 Claims
      %ul.list
        - @group_claims.each do |group|
          %li
            %a{href: "http://directory.secularconnect.org/groups/#{group.id}"}=group.name
    %section{id: 'deleted_view'}
      %h2 Deleted Groups
      %ul.list
        - @groups_deleted.each do |group|
          %li
            %a{href: "http://directory.secularconnect.org/groups/#{group.id}"}=group.name

