#frame
  #page_title
    %h1 Groups
  #main
    .volary-widget{:"data-src" => "http://volary-pigeon.herokuapp.com/groups-map.html?filters[subject]=groups&filters[keys][location.state]=ca"}
    %section#list-index
      %ul.list
        - @groups.each do |group|
          %li 
            %img{src: "http://placehold.it/180x125.png"}
            .main_info
              %a{href: "/groups/#{group['_id']}"}= group['props']['name'][0]['value']
              %p="#{group['props']['location'][0]['value']['city']}, #{group['props']['location'][0]['value']['state']}, #{group['props']['location'][0]['value']['country']}"
