#frame
  -#map_view
  #page_title
    %h1 Groups List
    :css
      iframe { border: none; margin-top: 10px; overflow: hidden; }
  #main
    %div.volary-widget{:'data-src' => @url}
      <script src="#{ENV['WIDGET_SERVER']}js/widget_loader.js"></script>
