#frame
  #map_view
    #page_title
      %h1 Groups Map
    #main
      %div.volary-widget{:'data-src' => @url}
      <script src="http://volary-pigeon.herokuapp.com/js/widget_loader.js"></script>
    

    
    