#frame
  #page_title
    %h1 { group:name }
  #main
    %section{id: 'main_info_show', 'rv-hide' => "ui:editMode"}
      %h2 About this Group
      %img{ src: "http://placehold.it/180x125.png" }
      #main-info-details
        %ul
          %li
            <span class='label' rv-html="group:location | asAddress"></span>
          %li 
            <span class='label'>Number of Members: { group:memberCount }</span>
          %li 
            <span class='label'>Last Updated: </span>13 Dev 2013
          %li Share Buttons Go here
      #main-info-description
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis porta libero in congue. Morbi fringilla laoreet erat et blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer luctus vitae lorem nec rutrum. Maecenas pharetra dui urna, nec mollis est gravida non. Quisque urna arcu, adipiscing et volutpat vitae, tempus quis nibh. Suspendisse sed dictum ipsum.
        %p Sed dapibus tempus nulla nec semper. Aliquam vitae nunc eu massa malesuada facilisis eu at velit. Aenean vestibulum nisl mi, eget vehicula tortor pulvinar sit amet. Sed eget nisl ut nibh ultrices vulputate et nec felis. Vestibulum ac erat risus. Proin auctor odio ac malesuada auctor. Nulla adipiscing, sem non laoreet tincidunt, nisl dui condimentum nunc, et sodales erat erat ut libero. Suspendisse convallis dui diam, vitae interdum mauris imperdiet id. Sed vehicula augue et justo malesuada, vel tempor mauris porttitor. Nullam vestibulum ante nec lorem aliquet, non gravida ligula molestie.
        %p Donec sit amet arcu dolor. Praesent adipiscing metus id enim volutpat, quis lacinia eros elementum. Maecenas a elit quis enim luctus mollis. Ut semper sollicitudin consequat. Integer congue est quis semper pharetra. Mauris felis nisl, elementum sit amet nibh a, dictum commodo eros. Maecenas quis est et sem rhoncus tempus.
      #main-info-keywords
        %ul
          %li <span class='label'>Keywords: </span>
          %li Some
          %li Random
          %li Words
          %li Placed
          %li Here

        
    %section{id: 'main_url_show'}
      %h2 URL Info
      %ul.list
        %li 
          %a{href: 'https://twitter.com'}Groups Twitter Account
        %li 
          %a{href: 'https://facebook.com'} Groups Facebook Account
        %li 
          %a{href: 'https://website.com'}Groups Main Site
        %li 
          %a{href: 'https://facebook.com/about'} Groups Facebook About Page
  #sidebar
    %section
      Some side text. I am going to pust some random stuff here so that is fills out the space. I mean I don't need anything all that important so just random stuff. A little bit more but I think this is enough.
    %section
      Some side text. I am going to pust some random stuff here so that is fills out the space. I mean I don't need anything all that important so just random stuff. A little bit more but I think this is enough.

- content_for :js do   
  %script{ src: '/javascript/groups.js' }
