#frame
  #page_title
    %h1 { group:name }
  #main
    %section{id: 'main_info_show', 'rv-hide' => "ui:editMode"}
      %h2 About this Group
      %img{ src: "http://placehold.it/180x125.png" }
      #main-info-details
        %ul
          %li
            <span class='label' rv-html="group:location | asAddress"></span>
          %li 
            <span class='label'>Number of Members: { group:memberCount }</span>
          %li 
            <span class='label'>Last Updated: </span>13 Dev 2013
          %li Share Buttons Go here
      #main-info-description { group:description }
      #main-info-keywords
        %ul
          %li <span class='label'>Keywords: </span>
          %li Some
          %li Random
          %li Words
          %li Placed
          %li Here

        
    %section{id: 'main_url_show'}
      %h2 URL Info
      %ul.list
        %li 
          %a{href: 'https://twitter.com'}Groups Twitter Account
        %li 
          %a{href: 'https://facebook.com'} Groups Facebook Account
        %li 
          %a{href: 'https://website.com'}Groups Main Site
        %li 
          %a{href: 'https://facebook.com/about'} Groups Facebook About Page
  #sidebar
    %section
      Some side text. I am going to pust some random stuff here so that is fills out the space. I mean I don't need anything all that important so just random stuff. A little bit more but I think this is enough.
    %section
      Some side text. I am going to pust some random stuff here so that is fills out the space. I mean I don't need anything all that important so just random stuff. A little bit more but I think this is enough.
