%h1= @event.name
%section{id: 'main_info_show'}
  %p= @event.description
  %a{href: '#javascript'}Edit
%section{id: 'main_info_edit'}
  %form{action: "#{@event.id}", method: :post}
    %input{type: "text", name: 'event[name]', value: @event.name}
    %br
    %textarea{ name: 'event[description]', rows: "10", cols: "70"}=@event.description
    %br
    %input{type: "submit", value: "Update Event"}
