*
  margin: 0
  padding: 0
body
  font-family: 'Lato', sans-serif
  background-color: $main-background-color
  color: $main-text-color
  width: 100%
img.resize
  width: 180px
  height: auto
h2
  width: 100%
  border-bottom: 1px solid $divide-line-color
  padding-bottom: 7px
  color: $bold-font-color
  font-family: cabinsemibold, sans-serif
  text-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px
  line-height: 24.000019073486328px
  font-size: 22px
  font-style: normal
  font-variant: normal
  font-weight: normal
.label
  font-weight: bold
  font-size: .9em
  &.important
    font-size: 1.1em
ul
  list-style: none
  li
    padding-bottom: 7px
    &:last-child
      padding-bottom: 0
ul.list
  li
    &:nth-child(odd)
      background: $dark-list-color
    &:nth-child(even)
      background: $light-list-color
p
  padding-bottom: 14px
a
  color: $link-color
  text-decoration: none
.hidden
  display: none
section
  background-color: $section-background-color
  color: $section-text-color
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  float: left
  padding: 14px
  width: 100%
  margin-bottom: 14px
#page
  margin: 0 auto
  width: 1000px
header
  padding-top: 14px
  margin: 0 auto
  height: 100px
  width: 65%
  nav
    float: right
    margin-top: 21px
    ul
      margin: 0
      padding: 0
      list-style: none
      li
        overflow: visible
        position: relative
        margin: 0
        padding: 0
        &.main_nav
          float: left
          padding: 0 7px
          a
            color: $main-text-color
          ul
            width: 100%
            min-width: 100px
            position: absolute
            -webkit-border-radius: 4px
            -moz-border-radius: 4px
            border-radius: 4px
            background-color: $section-background-color
            text-align: center
            li
              padding: 7px
              a
                color: $link-color
      
          
    
footer
  margin: 0 auto
  height: 100px
  width: 65%
  margin-top: 21px
  a
    color: $main-text-color
    
.flash
  width: 65%
  margin: 0 auto
  text-align: center
  font-size: larger
  height: 115% 
  .notice
    background-color: $button-color
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    padding: 7px 0
  .alert
    background-color: $error-color
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    padding: 7px 0

#content
  #frame
    #map_view
      #page_title
        width: 800px  
        margin: 0 auto
      #main
        width: 800px  
        margin: 0 auto

#content
  overflow: auto
  width: 100%
  #frame
    width: 100%
    overflow: auto
    #page_title
      width: 65%  
      margin: 0 auto
    #main
      width: 65%  
      margin: 0 auto   
    #sidebar
      overflow: auto
      margin: 0
      width: 35%
      float: left
      margin-left: 2%
      section
        width: 90%
@media all and (max-width: 945px) 
  #page
    width: 100%
    #content
      #frame
        #main
          overflow: auto
          width: 80%
          float: none
          padding: 0
          margin: 0
          margin-left: auto
          margin-right: auto
        #sidebar
          width: 80%
          float: none
          margin: 0 auto
          margin-bottom: 14px