%p A password reset has been requested for this account. If you requested the reset click (or copy and paste into the browser the following link to reset your password.
%br
%a{href: "http://#{@url}"}="http://#{@url}"
%br 
%p If you did not make this request you can just ignore. Nothing will change on your account. 
%br 
%p
  Thank you
  Volary Foundation Team