!!! 5
%head
  %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/application.css"}
  %link{rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Lato:400,900'}
  %meta{name: "viewport", content: "width=device-width"} 
  %script{type: "text/javascript", src: "/bower_components/jquery/jquery.js"}
  %script{type: "text/javascript", src: "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}
  %script{type: "text/javascript", src: "/javascripts/places_autocomplete.js"}
  %script{type: "text/javascript", src: "/javascripts/form_support.js"}
  %script{type: "text/javascript", src: "/javascripts/nav.js"}

%body{onload: "initialize()"}
  #page
    %header
      %a{href: '/'}
        %img#mainlogo{src:'/images/main-logo.png'}
      %nav
        %ul
          %li.main_nav
            Groups
            %ul.sub_nav.hidden
              %li.sub_nav
                %a{href: '/groups/map'}Map View
              %li.sub_nav
                %a{href: '/groups'}List View
              %li.sub_nav
                %a{href: '/groups/new'}Create
          -if current_user
            %li.main_nav
              =@current_user.email
              %ul.sub_nav.hidden
                %li.sub_nav
                  %a.act_as_form{href: '/logout', _method: 'delete'}Logout
                - if current_user.role == 'admin'
                  %li.sub_nav
                    %a{href: '/admin'}Admin

          -else
            %li.main_nav.no_dropdown
              %a{href: '/login'}Login
            %li.main_nav.no_dropdown
              %a{href: '/users/new'}Signup
    #columns
      #title
      #content
        - if flash[:notice].present?
          .flash
            .notice=flash[:notice]
        - if flash[:alert].present?
          .flash
            .alert=flash[:alert]
        = yield
    %footer
      %a{href: "mailto:admin@volary.org", target: "_top"}Contact Us
