!!! 5
%head
  %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/application.css"}
  %link{rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Lato:400,900'}
  %meta{name: "viewport", content: "width=device-width"} 
  %script{type: "text/javascript", src: "/bower_components/jquery/jquery.js"}
  %script{type: "text/javascript", src: "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}
  %script{type: "text/javascript", src: "/javascripts/places_autocomplete.js"}
  %script{type: "text/javascript", src: "/javascripts/form_support.js"}

%body{onload: "initialize()"}
  #page
    %header
      %a{href: '/'}
        %img#mainlogo{src:'/images/main-logo.png'}
      %nav
        %a{href: '/groups'}Groups
        |
        %a{href: '/groups/map'}Map View
        |
        -if current_user
          =@current_user.email
          |
          %form.no_form{action: '/logout', method: 'post'}
            %input{:name => "_method", type: "hidden", value: "delete"}
            %input.link{type: 'submit', :value => 'logout'}
        -else
          %a{href: '/login'}Login
          |
          %a{href: '/users/new'}Signup
    #columns
      #title
      #content
        - if flash[:notice].present?
          .flash
            .notice=flash[:notice]
        - if flash[:alert].present?
          .flash
            .alert=flash[:alert]
        = yield
    %footer
      %a{href: "mailto:admin@volary.org", target: "_top"}Contact Us
