!!! 5
%head
  %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/application.css"}
  %link{rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Lato:400,900'}
  %meta{name: "viewport", content: "width=device-width"} 
  %script{type: "text/javascript", src: "/bower_components/jquery/jquery.js"}
  %script{type: "text/javascript", src: "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}
  %script{type: "text/javascript", src: "/javascripts/places_autocomplete.js"}
  %script{type: "text/javascript", src: "/javascripts/form_support.js"}

%body{onload: "initialize()"}
  #page
    %header
      %img#mainlogo{src:'/images/main-logo.png'}
      %nav
    #columns
      #title
      #content
        - if flash[:notice].present?
          .notice=flash[:notice]
        - if flash[:alert].present?
          .alert=flash[:alert]
        = yield
    %footer
      Contact Us
