!!! 5
%head
  %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/application.css"}
  %link{rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Lato:400,900'}
  %meta{name: "viewport", content: "width=device-width"} 
  %script{type: "text/javascript", src: "/bower_components/jquery/jquery.js"}
  %script{type: "text/javascript", src: "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}
  %script{type: "text/javascript", src: "/javascripts/places_autocomplete.js"}
  %script{type: "text/javascript", src: "/javascripts/form_support.js"}
  %script{type: "text/javascript", src: "/javascripts/nav.js"}

%body{onload: "initialize()"}
  #page
    %header
      %a{href: '/'}
        %img#mainlogo{src:'/images/main-logo.png'}
      %nav
        %ul
          %li.main_nav
            Groups
            %ul.sub_nav.hidden
              %li.sub_nav
                %a{href: '/groups/map'}Map View
              %li.sub_nav
                %a{href: '/groups'}List View
              %li.sub_nav
                %a{href: '/groups/new'}Create
          -if current_user
            %li.main_nav
              =@current_user.email
              %ul.sub_nav.hidden
                %li.sub_nav
                  %a.act_as_form{href: '/logout', _method: 'delete'}Logout
                - if current_user.role == 'admin'
                  %li.sub_nav
                    %a{href: '/admin'}Admin

          -else
            %li.main_nav.no_dropdown
              %a{href: '/login'}Login
            %li.main_nav.no_dropdown
              %a{href: '/users/new'}Signup
    #columns
      #title
      #content
        - if flash[:notice].present?
          .flash
            .notice=flash[:notice]
        - if flash[:alert].present?
          .flash
            .alert=flash[:alert]
        = yield
    %footer
      %a{href: "mailto:admin@volary.org", target: "_top"}Contact Us
:javascript
  // Include the UserVoice JavaScript SDK (only needed once on a page)
  UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/znVHsWPAPnkdN0Y9kIFmRw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

  //
  // UserVoice Javascript SDK developer documentation:
  // https://www.uservoice.com/o/javascript-sdk
  //

  // Set colors
  UserVoice.push(['set', {
    accent_color: '#448dd6',
    trigger_color: 'white',
    trigger_background_color: '#6aba2e'
  }]);

  // Identify the user and pass traits
  // To enable, replace sample data with actual user traits and uncomment the line
  UserVoice.push(['identify', {
    //email:      'john.doe@example.com', // User’s email address
    //name:       'John Doe', // User’s real name
    //created_at: 1364406966, // Unix timestamp for the date the user signed up
    //id:         123, // Optional: Unique id of the user (if set, this should not change)
    //type:       'Owner', // Optional: segment your users by type
    //account: {
    //  id:           123, // Optional: associate multiple users with a single account
    //  name:         'Acme, Co.', // Account name
    //  created_at:   1364406966, // Unix timestamp for the date the account was created
    //  monthly_rate: 9.99, // Decimal; monthly rate of the account
    //  ltv:          1495.00, // Decimal; lifetime value of the account
    //  plan:         'Enhanced' // Plan name for the account
    //}
  }]);

  // Add default trigger to the bottom-right corner of the window:
  UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

  // Or, use your own custom trigger:
  //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

  // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
  UserVoice.push(['autoprompt', {}]);
