!!! 5

%head
  %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/application.css"}
  %link{rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Lato:400,900'}

%body
  #page
    %header
      %nav
    #columns
      #title
      #content
        - if flash[:notice].present?
          .notice=flash[:notice]
        - if flash[:alert].present?
          .alert=flash[:alert]
        = yield
    %footer
